header {
  background-color: Green;
  font-family: "Times New Roman", sans-serif;
  text-align: center;
}

h1 {
  font-family: Georgia, arial;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-family: Georgia, sans-serif;
}

p {
  font-family: "Times New Roman", arial;
}

.boxtest {
  border: 1px solid black;
}

main{
 background-color: white;
  font-family: sans-serif, arial;
  text-align: center;
}

body {
  background-color: white;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-right: 3em;
  margin: 0;
}

section {
  background-color: white;
  }

footer {
  background-color: white ;
  font-family: "Times New Roman", sans-serif;
  text-align: left;
}
